.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-pack-ls {
  &__w {
    width: 100%;
    max-width: 229px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    border: $borderGreen;
    border-radius: 8px;

    padding: 20px 32px;

    background-color: $colorWhite;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);

    @include bigMobile {
      max-width: 343px;

      padding: 16px 40px;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    color: $color-new-grey;

    @include bigMobile {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__pack {
    display: flex;
    gap: 2px;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: $color-new-grey;

    @include bigMobile {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__list-img {
    width: 9px;

    @include bigMobile {
        width: 11px;
    }
  }

  &__list-p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: $color-text-grey;

    @include bigMobile {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__reduction {
    font-weight: 500;
    color: $colorCard;
  }

  &__discount {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include bigMobile {
        justify-content: center;
        gap: 16px;
    }
  }

  &__discount-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ff1010;
    text-decoration: line-through;
  }

  &__discount-lable {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: $colorWhite;

    padding: 3px 10px;

    background-color: $color-pre-order;

    border-radius: 8px;
  }
}
